# Backend
backend/venv/
backend/nven/
backend/__pycache__/
backend/*.pyc
backend/movies.db

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Visual Studio
.vs/

# Ogólne
*.log
.DS_Store 
