.App {
  text-align: center;
  /* Dodano komentarz dla testu synchronizacji z Vercel */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #800020; /* Lekko zmieniony odcień bordo dla testu */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); /* Minimalna zmiana w bazowej wielkości fontu */
  color: #ffffff; /* Zmiana zapisu koloru na heksadecymalny */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
